<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <!-- ADMIN MODAL -->
    <!--  -->
    <!--  -->
    <div ng-controller="AdminCtrl">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="user in users">
                <!-- Inside Modal -->
                <script type="text/ng-template" id="myAdminContent.html">
                    <div class="modal-header">
                        <h3 class="modal-title">{{user.name}}!</h3>
                    </div>
                    <div class="modal-body">

                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">OK</button>
                            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                        </div>
                </script>
                <!-- On Page -->
                    <button class="list-group-item" ng-click="openAdmin(user)">
                    <strong>{{user.name}}</strong>
                    <br>
                    <span class="text-muted">{{user.email}}</span>
                    <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
                </button>
            </li>
        </ul>
    </div>

        <!-- CATEGORY MODAL -->
        <!--  -->
        <!--  -->
        <div ng-controller="CategoryModalCtrl">
            <!-- Inside Modal -->
            <script type="text/ng-template" id="myCategoryContent.html">
                <div class="modal-header" ng-controller="ModalCtrl">
                    <h3 class="modal-title">Categories!</h3>
                </div>
                <div class="modal-body">
                    <span class="help-block">Enter a new Category</span>
                    <input type="text" ng-model="newCategory" placeholder="Type something…">
                    </label>
                    <button type="submit" ng-click="save(newCategory)" class="btn">Submit</button>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    </div>
            </script>
            <!-- On Page -->
            <button class="list-group-item" ng-click="openCategory('')">Create Categories</button>
            </div>
            <!-- PRODUCT MODAL -->
            <!--  -->
            <!--  -->

            <div ng-controller="ProductModalCtrl">
                <!-- Inside Modal -->
                <script type="text/ng-template" id="myProductContent.html">
                    <div class="modal-header" ng-controller="ProductModalCtrl">
                        <h3 class="modal-title">Products!</h3>
                    </div>
                    <div class="modal-body">
                        <form name="productForm" ng-submit="save(newProduct)">
                            Add new products if you dare!
                            <div class="form-group">
                                <input name="name" class="form-control" ng-model="newProduct.name" placeholder="Name" required>
                                <div class="alert alert-info" ng-show="productForm.name.$error.required"> Enter your name!</div>
                            </div>

                            <div class="form-group">
                                <textarea name="description" class="form-control" ng-model="newProduct.info" placeholder="Description" required></textarea>
                                <div class="alert alert-info" ng-show="productForm.description.$error.required"> Enter Description!</div>
                            </div>
                    </div>
                    Choose the categories:
                    <div ng-repeat="category in listCategories">
                        <label>
                            <input type="checkbox" checklist-model="newProduct.categories" checklist-value="category.name">{{category.name}}</label>
                    </div>
                    Photo:
                    <button type="button" ng-click="upload()" class="btn btn-default">
                        Upload Photo
                    </button>
                    <div id="uploadMessage"></div>
                    <div class="form-group">
                        <input name="price" class="form-control" ng-model="newProduct.price" placeholder="Price in sickles" required>
                        <div class="alert alert-info" ng-show="productForm.price.$error.required"> What is the price?</div>
                    </div>
                    <div class="form-group">
                        <input name="quantity" class="form-control" ng-model="newProduct.quantity" placeholder="Quantity in Stock" required>
                        <div class="alert alert-info" ng-show="productForm.quantity.$error.required"> How many do you have?</div>
                    </div>

                    <button type="submit" ng-click="save(newProduct)" class="btn btn-default">
                        Save
                    </button>
                    </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
            </script>
            <!-- On Page -->
            <button class="list-group-item" ng-click="openProduct('lg')">Create Products</button>
        </div>
        <!--  -->
        <!--  -->
        <!-- Orders -->
        <div ng-controller="OrderModalCtrl">
            <!-- Inside Modal -->
            <script type="text/ng-template" id="myOrderContent.html">
                <div class="modal-header" ng-controller="OrderModalCtrl">
                    <h3 class="modal-title">Orders!</h3>
                </div>
                <div class="modal-body">


                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    </div>
            </script>
            <!-- On page -->
            <button class="list-group-item" ng-click="openOrder('lg')">See Orders</button>
            </div>
        </div>
        <!-- FilePicker -->
        <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>