$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@font-face {
    font-family: HarryP;
   	src: url(../assets/HARRYP__.TTF);
}
.navbar-brand {
	margin-top: 0;
	padding-top:0;
	top: 0;
}
.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 0px;
    line-height: 20px;
    font-size: 25px;
    margin-bottom: 0px;
}

a:hover {
    cursor: url(../assets/images/wand.png) 2 2, auto;
}

.navbar-default .navbar-nav li a{
    color: #000;
}

.navbar-default .navbar-nav li a:hover {
    color: #ffd700;
}


*{
	font-family: "HarryP";

}


// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'cart/cart.scss';
@import 'category/category.scss';
@import 'main/main.scss';
@import 'product/product.scss';
@import 'modal/modal.scss';
// endinjector
