body {
    font-family: HarryP;
}

.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}


li {
    list-style-type: none;
}

.banner {
    width: 100%;
    height: 150px;
}

.categories {
    background-image: url();
    height: 600px;
    width: 1000px;
}

