<div ng-include="'components/navbar/navbar.html'"></div>

<section id="intro" class="intro">

    <br>
    <br>
    <div class="col-md-12">
            <div class="page-scroll" ng-click="visibleCategory={'visibility':'visible'}">
                <div class="btn btn-circle">
                    <i class="fa fa-flash animated"></i>
                </div>
            </div>
        <br>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="categories">
                <ul>
                    <div class="col-md-6" ng-repeat="category in categories">
                        <li class="catItem" ng-style="visibleCategory"><i class="fa animated"><div ng-click="stateChange(category.name, category.info)"> <h3> {{category.name}} </h3></div></i>
                        </li>
                    </div>
                </ul>
            </div>

        </div>
<!--         <div ng-app="ui.bootstrap.demo">
          <script type="text/ng-template" id="customTemplate.html"></script>
          <div class='container'>
              <form class="searchBar" ng-style="visibleCategory">
                  <input type="text" ng-model="asyncSelected" placeholder="Search for what your heart desires" typeahead="product as product.name for product in products | filter:$viewValue" typeahead-min-length='1' typeahead-wait-ms="100" class="form-control">
                  <input type="submit" ng-click="getProduct(asyncSelected._id)" style="position: absolute; left: -9999px; width: 1px; height: 1px;">
              </form>
          </div>
        </div> -->
    </div>
</section>

<section id="categories">

</section>
