<div ng-include="'components/navbar/navbar.html'"></div>

{{product.name}}
<br>
{{sickles(product.price)}}

<button ng-click="addToCart(product._id, product.quantity_ordered)">Add Item to Cart</button>
<select ng-model="product.quantity_ordered">
<option ng-repeat="i in getNumber(number) track by $index">{{$index+1}} </option>
</select>
<h2>Reviews</h2>
<div ng-repeat="review in reviewsArray">
  <p>{{review.name}}</p>
  <p>{{ review.review.review_content.rating_stars }} Stars </p>
  <p>{{ review.review.review_content.review_text }}</p>
</div>

<form name="reviewForm">
	<!--  Review Form -->
	<div ng-show="isLoggedIn">
		<h4>Submit a Review</h4>
		<fieldset class="form-group">
			<label>Stars:</label>
			<select id="review_stars" ng-model="newReview.review_content.rating_stars">
				<option value="5">5 stars</option>
				<option value="4">4 stars</option>
				<option value="3">3 stars</option>
				<option value="2">2 stars</option>
				<option value="1">1 star</option>
			</select>
		</fieldset>
		<fieldset class="form-group">
			<textarea class="form-control" ng-model="newReview.review_content.review_text" placeholder="Write a short review of the product..." title="Review"></textarea>
		</fieldset>
		<fieldset class="form-group">
			<button id="review_text" type="submit" class="btn btn-primary pull-right" ng-click="submitNewReview()" label="Submit Review"/>Button</button>
		</fieldset>
	</div>
</form>

