<div ng-include="'components/navbar/navbar.html'"></div>

<br>
<br>
<section class="products">
		
	<div class="category-header">
	</div>
  <br>
      <div class="category-name">

        <h2>{{currentCategory}}</h2>
        {{categoryInfo}}
      </div>
    <br>
	<div class="categoriesCentered">
  		<div ng-repeat="product in currentProducts">
  			<div class="col-md-3 item">
  				<div ng-click="stateChange(product._id)">
  					<p-1>{{product.name}}</p-1><br>
  					<p-2>{{sickles(product.price)}}</p-2>
  					<img style="width:200px; height: 200px" ng-src='{{product.photo}}'/>
  				</div>
  			</div>
  		</div>
      </div>
</section>
