      <div ng-include="'components/navbar/navbar.html'"></div>
      <div class="cart-header">
      </div>
      <div class="container-fluid text-center">
        <div class="col-md-4 col-sm-12">
          <br>
          <h1>Your Shopping Cauldron</h1>
          {{allCarts}}
          <ul>
            <li ng-repeat="cart in allCarts" class="container-fluid text-center">
              <button class="btn btn-default btn-sm"  ng-click="cart.id.active = true" class="col-md-12">{{cart.date}} {{cart.id}}</button>
            </li>
          </div>
          <div class="col-md-8 col-sm-12">
            <ul>
              <li class="row list-inline columnCaptions">
                <span class="col-sm-4">QTY</span>
                <span class="col-sm-4">ITEM</span>
                <span class="col-sm-4">Price</span>
              </li>
              <li ng-repeat='item in cart.items' active='cart.active' class='row cart_row'>
                <div class="col-sm-4">
                  <span class='quantity form-control'>{{item.quantity}}</span>
                </div>
                <div class="col-sm-4">
                  <a href="#" class="itemName">{{item.name}}</a>
                </div>

                <!--<img ng-src='{{item.photo}}' /> -->

                <div class="col-sm-4">
                  <span class='price'>{{sickles(item.total_price)}}</span>
                </div>
              </li>
            </div>
            <li class="row totals">
              <div class="col-sm-4"></div>
              <span class='col-sm-4 itemName'>Total:</span>
              <span class='col-sm-4 price' active='cart.active'>{{sickles(cart.total)}}</span>
            </li>

          </ul>
        </div>

      </ul>
    </div>
  </div>
</div>
</div>
