<div ng-include="'components/navbar/navbar.html'"></div>
<div class="cart-header">
</div>
<div class="container-fluid text-center">
  <div class="col-md-4 col-sm-12">
    <br>
    <h1>Your Order History</h1>
  </div>
  <div class="col-md-8 col-sm-12">
    <ul>
      <li class="row list-inline columnCaptions">
        <span class="col-sm-3">QTY</span>
        <span class="col-sm-3">ITEM</span>
        <span class="col-sm-3">Price</span>
        <span class="col-sm-3">Order Date</span>
      </li>
      <div ng-repeat='item in cart_items'>
        <li class='row cart_row'>
          <div class="col-sm-4">
            <select class='quantity form-control' ng-model="item.quantity_ordered" ng-change="changeQuantity(item.quantity_ordered, item._id, item.price, $index)">
              <option class='quantity' ng-repeat="i in getNumber(item_quantity) track by $index">{{$index}} </option>
            </select>
          </div>
          <div class="col-sm-4">
            <a href="#" class="itemName">{{item.name}}</a>
          </div>

          <!--<img ng-src='{{item.photo}}' /> -->

    </ul>
  </div>
</div>
</div>
</div>
