.products {
        min-height: 400px; 
        width: auto;
        top: 50px;
        height: 100%;
        padding: 0;
        background-image: url(../assets/images/smoke.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
}